<app-search-location class="search-bar mx-3 my-2 px-4 pt-4"></app-search-location>
<div class="weather-status h-30">
  <img src="./assets/weather/Cloud-background.png" alt="" class="weather-background">
  <app-weather-icon class="weather-icon" [img]="'Shower.png'"></app-weather-icon>
</div>
<app-current-temp class="current-temp"></app-current-temp>

<div class="p-2 aside-search-modal" #asideSearchModal>
  <div class="search-modal__close">
    <button class="btn mt-4 btn-lg btn-circle" (click)="closeModal()">
      <span class="material-icons icon">close_me</span>
    </button>
  </div>
</div>
<app-current-details></app-current-details>
