<app-search-location class="search-bar mx-3 my-2 px-4 pt-4 margin-search-button"></app-search-location>

<div class="weather-status h-30">
  <img src="./assets/weather/Cloud-background.png" alt="" class="weather-background">
  <app-weather-icon class="weather-icon" [img]="today.Icon" [mywidth]="'250'" *ngIf="today.Icon !== ''"></app-weather-icon>
</div>

<app-current-temp class="current-temp"></app-current-temp>

<div class="aside-search-modal p-5 pt-3 pb-3" #asideSearchModal>
  <div class="search-modal__close">
    <button class="btn mt-4 btn-lg btn-circle" (click)="closeModal()">
      <span class="material-icons icon">close_me</span>
    </button>
  </div>
  <form class="form-search mt-4 mb-4" (submit)="search()" [formGroup]="searchLocation">
    <div class="input-search w-100">
      <span class="btn btn-lg" style="width: 20px; height: 40px; opacity: .5;">
        <span class="material-icons">search_me</span>
      </span>
      <input type="text" id="search" class="form-control" formControlName="input" placeholder="search location" autocomplete="off">
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>

  <ng-container *ngTemplateOutlet="city"></ng-container>

</div>

<app-current-details></app-current-details>


<ng-template #city>
  <div class="city" *ngFor="let item of locationList" (click)="getForecast(item.Key)">
    <div class="city__icon w-100">
      <p class="city__title w-100">
        {{item.LocalizedName}}, {{item.AdministrativeArea.LocalizedName}}
      </p>
      <button class="btn btn-lg mr-2" disabled>
        <span class="material-icons">keyboard_arrow_right</span>
      </button>
    </div>
  </div>
</ng-template>

