/* You can add global styles to this file, and also import other style files */
:root{
    --background: rgb(30, 33, 58);
    --dep_background: rgb(16, 14, 29);
    --color-secondary: rgb(231, 231, 235);
    --color-tertiary: rgb(88, 86, 118);
}

*{
    color: #E7E7EB;
    font-family: 'Raleway', sans-serif;
}

.footer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: .9vw;
}