/* You can add global styles to this file, and also import other style files */
:root{
    --background: rgb(30, 33, 58);
    --dep_background: rgb(16, 14, 29);
    --color-secondary: rgb(231, 231, 235);
    --color-tertiary: rgb(88, 86, 118);
}

*{
    color: #E7E7EB;
    font-family: 'Raleway', sans-serif;
}

.footer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: .9vw;
}

.aside-search-modal {
    background-color: var(--background);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* margin-left: -100%; */
    transition: all 444ms ease-in-out;
}

.aside-search-modal .btn {
    color: var(--color-secondary);
}

.search-modal__close {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    overflow: hidden;
}

.btn-circle{
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 0px;
}
.icon {
    display: block;
    font-size: 1.4vw;
    color: #E7E7EB;
}

@media (max-width: 768px) {
  .icon {
    font-size: calc(1em + 1vw);
  }
}