/* You can add global styles to this file, and also import other style files */
:root{
    --background: rgb(30, 33, 58);
    --dep_background: rgb(16, 14, 29);
    --color-secondary: rgb(231, 231, 235);
    --color-tertiary: rgb(88, 86, 118);
}

*{
    color: #E7E7EB;
    font-family: 'Raleway', sans-serif;
}

.footer {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: .9vw;
}

.aside-search-modal {
    background-color: var(--background);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* margin-left: -100%; */
    transition: all 444ms ease-in-out;
}

.aside-search-modal .btn {
    color: var(--color-secondary);
}

.search-modal__close {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    overflow: hidden;
}

.btn-circle{
    border-radius: 50% !important;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 0px;
}
.icon {
    display: block;
    font-size: 1.4vw;
    color: #E7E7EB;
}

@media (max-width: 768px) {
  .icon {
    font-size: calc(1em + 1vw);
  }
}
/* mobile responsive */
@media (max-width: 812px){
    .aside-search-modal{
        padding: 0.5rem !important;
    }
    .search-bar{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
@media (max-width: 375px) {
    .margin-search-button{
        padding-right: 0px !important;
        padding-left: 0px !important;
        padding-top: 0.5rem !important;
    }
    .weather-status.h-30{
        height: 40% !important;
    }
    .current-temp {
        margin-top: -3rem !important;
    }
    .temp-unit-4{
        font-size: calc(.4em + 29vw) !important;
    }
    .temp-unit-1{
        font-size: calc(.4em + 29vw) !important;
    }
    .temp-unit-3{
        font-size: calc(.4em + 20vw) !important;
    }
    .temp-unit-2{
        font-size: calc(.4em + 12.0vw) !important;
    }
    .md-view, .md-view > p{
        font-size: calc(.4em + 7.0vw) !important;
        margin-top: 0rem !important;
        margin-bottom: 1.5rem !important;
    }
    app-current-details > .font{
        font-size: calc(.4em + 3.3vw) !important;
    }
    app-current-details > div{
        padding-bottom: 4.7rem;
    }
    app-current-details > div >.location{
        margin-top: 1.9rem !important;
    }
    .today-info-tarjet{
        width: 100% !important;
        margin-bottom: 1rem !important;
        padding: 1.3rem !important;
    }
    .today-info-tarjet > .paragraph{
        font-size: calc(.4em + 2.6vw) !important;
    }
    .today-info-tarjet > .num{
        font-size: calc(.4em + 14.7vw) !important;
    }
    .today-info-tarjet > span > button{
        margin-right: 1rem;
    }
    .percent{
        font-size: calc(0.4em + 1.5vw);
    }
    .progress-bar-size{
        height: 0.4rem;
    }
    .footer > p {
        font-size: 3vw;
    }
    .aside-search-modal {
        padding: 1rem!important;
    }
    .search-modal__close > button {
        margin-top: 0.5rem !important;
    }
}